.footer {
    width: $desktop-max-width;
    margin: 0 auto;
}

.footer__container {
    display: flex;
    width: $desktop-max-width;
    background-image: url(../../img/footer/footer_fon_desktop.png);
}

.footer-form {
    padding-top: 130px;
    padding-left: 55px;
}

.footer-form__title {
    font: 700 42px 'Raleway', normal;
    letter-spacing: 0.05em;
    padding-bottom: 44px;
    color: getColor('primary-fon');
}

.footer-form__contacts {
    display: flex;
    padding-bottom: 44px;
}

.footer-form__contacts-icon {
    margin-right: 40px;

    &:first-child {
        margin-right: 30px;
    }

    &:first-child {
        width: 270px;
    }
}

.footer-form__contacts-input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom-color: aliceblue;
    width: 260px;
    background: none;
}

.footer-form__comments {
    width: 560px;
}

.footer-form__comments-textarea {
    width: 100%;
    border: none;
    background: none;
}

.footer-form__button {
    font: 600 12px 'Open Sans', normal;
    letter-spacing: 0.09em;
    width: 160px;
    height: 40px;
    color: getColor("primary-fon");
    border: 1px solid getColor("accent");
    border-radius: 25px;
    background: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: getColor("accent");
    }
}

.footer__container-contacts {
    width: 100%;
    padding: 130px 100px;
    background-image: url(../../img/footer/footer_img_desktop.png);
}

.footer__container-contacts-header {
    font: 700 42px 'Raleway', normal;
    letter-spacing: 0.05em;
    padding-bottom: 40px;
    color: getColor("primary-fon");
}

.footer__container-contacts-item {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    &:last-child {
        padding-bottom: 70px;
    }
}

.footer__container-contacts-link {
    display: flex;
    align-items: center;
    font: 400 18px 'Open Sans', normal;
    letter-spacing: 0.2em;
    color: getColor("forth-text");
    cursor: pointer;

    &:hover {
        color: getColor("accent");
    }
}

.footer__container-contacts-icon {
    stroke: getColor("third-text");
    fill: none;
}