.represent__container {
    display: flex;
    padding: 130px 0;
}

.represent__container-image {
    display: flex;
    margin-right: 64px;
}

.represent__container-image-item {
    &:first-child {
        margin-right: 30px;
    }
}

.represent__container-list {
    padding-right: 66px;
}

.represent__container-list-item1 {
    display: flex;
    align-items: center;
    font: 600 11px 'Open Sans', normal;
    letter-spacing: 0.1em;
    padding-bottom: 20px;
    color: getColor("primary-text");
}

.represent__container-list-rectangle {
    width: 60px;
    height: 1px;
    margin-right: 20px;
    background: getColor("primary-text");
}

.represent__container-list-title {
    font: 700 42px 'Raleway', normal;
    letter-spacing: 0.05em;
    padding-bottom: 20px;
    color: getColor("primary-text");
}

.represent__container-list-item2 {
    font: 600 18px 'Open Sans', normal;
    letter-spacing: 0.02em;
    line-height: 1.8;
    padding-bottom: 20px;
    color: getColor("secondary-text");
}

.represent__container-list-item3 {
    font: 400 14px 'Open Sans', normal;
    letter-spacing: 0.02em;
    line-height: 1.8;
    padding-bottom: 40px;
    color: getColor("secondary-text");
}

.represent__container-list-button {
    font: 600 12px 'Open Sans', normal;
    letter-spacing: 0.09em;
    width: 160px;
    height: 40px;
    color: getColor("primary-text");
    border: 1px solid getColor("accent");
    border-radius: 25px;
    background: none;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        color: getColor("primary-fon");
        background-color: getColor("accent");
    }
}