body {
    font: 400 18px 'Open Sans', normal;
    margin: 0;
    line-height: 1.5;
    color: getColor("secondary-text");
    background-color: getColor("primary-fon");
}

h1 {
    font: 700 72px 'Raleway', normal;
    letter-spacing: 0.05em;
    margin: 0px;
    color: getColor("primary-fon");
}

h2,
h3 {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    list-style: none;
    margin: 0px;
}

p {
    margin: 0px;
}

address {
    font-style: normal;
    text-decoration: none;
    font: 400 18px 'Open Sans', normal;
    letter-spacing: 0.2em;
    color: getColor("forth-text");
}

img {
    display: block;
}

sup {
    text-decoration: none;
    list-style: none;
}

::placeholder {
    display: flex;
    flex-direction: column;
    font: 600 11px 'Open Sans', normal;
    letter-spacing: 0.1em;
    color: getColor('primary-fon');
    vertical-align: text-top;
}

.container {
    width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: $desktop-width) {
        width: 700px;
    }

    @media screen and (max-width: $tablet-width) {
        width: 450px;
    }
}